<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%SystemDrive%\python39\python.exe"
                      arguments="%HOME%\site\wwwroot\your_script_name.py"
                      stdoutLogEnabled="true"
                      stdoutLogFile="%HOME%\LogFiles\python.log">
            <environmentVariables>
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
